{%- comment %}

  Collection Section
  ------------------------------------------------------------------------------

  The tags using for filtering are the ones that starts with:
    - `color:`
    - `size:`

{% endcomment -%}

{% assign filter_types = 'color,size' | split: "," %}

{% paginate collection.products by 6 %}

<div class="layout-content-wrapper" data-section-id="{{ section.id }}" data-section-type="collection" style="background-image: url('//cdn.shopify.com/s/files/1/0332/1236/6981/files/ow-bg_1024x.png');">
  <div class="container">

    {% include 'page-header',
                ph_title: collection.title,
                ph_subtitle: collection.description
    %}
    {% if collection.products.size > 0 %}
      <div class="collection-filter-bar">
        {% comment %}
          Vertically align groupings.  Space them out horizontally, flush to the edges
          Make sure you put the if statements *inside* the .collection-filter-bar__grouping elements to always output tags even if they are empty.
          This will ensure that flex will always space them out appropriately
        {% endcomment %}
        <div class="collection-filter-bar__grouping">
          {% if section.settings.enable_filters %}
            
            {% assign mobile_filter_id = 'mobile-filters' %}

            {% include 'collection-mobile-filters', id: mobile_filter_id, filter_types: filter_types %}

            <div class="d-md-none">
              <a href="#" data-toggle="drawer" data-target="#{{ mobile_filter_id }}" data-backdrop="true">
                <span style="margin-right: 6px;">{% include 'icon-filters' %}</span>
                Filter By
              </a>
            </div>

            <div class="d-none d-md-block">
              {% include 'collection-filters', filter_types: filter_types %}
            </div>

          {% endif %}
        </div>
        <div class="collection-filter-bar__grouping">
          {% if section.settings.enable_sort %}
            {% include 'collection-sort' %}
          {% endif %}
        </div>
      </div>

    {% comment %}
      <p class="d-none d-md-block">
        <small>Showing {{ collection.products.size }} {{ collection.products.size | pluralize: 'Item', 'Items' }}</small>
      </p>  
    {% endcomment %}

      <div class="content-grid">
        {% for product in collection.products %}

          {% comment %} Lazy load all product images below the fold.  Adjust the limit as needed {% endcomment %}
          {% assign lazy_load = false %}
          {% if forloop.index > 10 %}
            {% assign lazy_load = true %}
          {% endif %}

          <div class="content-grid__item">
            {% include 'product-card', product: product, quick_view: true, lazy_load: lazy_load %}
          </div>
        {% endfor %}
      </div>

    {% else %}
      <p>{{ 'collections.general.no_matches' | t }}</p>

    {% endif %}

    {% if paginate.pages > 1 %}
      {% include 'pagination' %}
    {% endif %}
  </div>

  {% comment %} This JSON is required for filtering and sorting {% endcomment %}
  {% capture collection_url %}
    {% if collection.handle == "all" %}
      /collections/all
    {% else %}
      {{ collection.url }}
    {% endif %}
  {% endcapture %}

  <script type="application/json" data-collection-json>
    {
      "url": {{ collection_url | strip | json }},
      "sortDefault": {{ collection.default_sort_by | json }},
      "sortApplied": {{ collection.sort_by | json }}
    }
  </script>
</div>

<div class="product-page three-up-icons-text" data-aos="fade-up">
  <div class="container-fluid-max">
    <div class="row justify-content-center">
      <div class="col-md-10 col-lg-8">
        <div class="three-up-icons">
          {% for block in section.blocks %}
          {% assign icon = block.settings.icon %}
          {% assign icon_text = block.settings.icon_text %}

          {% if icon != blank and icon_text != blank %}
          <div class="icon-block">
            <div class="icon__image frame frame--1x1">
              {% include 'image_tag' image: icon, object_fit: 'contain' %}
            </div>
            <h6 class="icon__text">{{ icon_text }}</h6>
          </div>
          {% endif %}
          {% endfor %}
        </div>
        {% if section.settings.title1 != blank %}
        <h3 class="three-up__title">{{ section.settings.title1 }}</h3>
        {% endif %}
        {% if section.settings.title2 != blank %}
        <h3 class="three-up__title">{{ section.settings.title2 }}</h3>
        {% endif %}

        {% if section.settings.text != blank %}
        <div class="three-up__text p1">{{ section.settings.text }}</div>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% include 'product-video' %}

{% endpaginate %}

{% schema %}
  {
    "name": "Collection",
    "settings": [
      {
        "id": "enable_filters",
        "type": "checkbox",
        "label": "Enable Filters",
        "default": true,
        "info": "Filtering is based on product tags."
      },
      {
        "id": "enable_sort",
        "type": "checkbox",
        "label": "Enable Sort",
        "default": true
      },
	  {
        "type": "header",
        "content": "3 Up Icons + Text"
      },
      {
        "type": "richtext",
        "id": "title1",
        "label": "Title1",
        "info": "Bold text appears blue."
      },
	  {
        "type": "richtext",
        "id": "title2",
        "label": "Title2",
        "info": "Bold text appears blue."
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Text"
      },
	  {
        "type": "header",
        "content": "Video"
      },
	  {
		"type": "image_picker",
		"id": "video_background",
		"label": "Background Image"
	  },
	  {
        "id": "video_url",
        "type": "video_url",
        "label": "Video URL",
        "accept": ["vimeo"],
        "info": "Supports vimeo."
      }
    ],
	"max_blocks": 4,
	"blocks": [
      {
        "type": "icon_card",
        "name": "Icon + Text",
        "settings": [
          {
            "type": "image_picker",
            "id": "icon",
            "label": "Icon"
          },
          {
            "type": "text",
            "id": "icon_text",
            "label": "Icon Text"
          }
        ]
      }
    ]
  }
{% endschema %}
