{% assign title = section.settings.title %}
{% assign copy_desktop = section.settings.copy_desktop %}
{% assign list = section.settings.list %}
{% assign cta_url = section.settings.cta_url %}
{% assign cta_text = section.settings.cta_text %}
{% assign cover_image = section.settings.cover_image %}


{% assign content_image_desktop = section.settings.content_image_desktop %}

{% if section.settings.content_image_mobile != blank %}
  {% assign content_image_mobile = section.settings.content_image_mobile %}
{% else %}
  {% assign content_image_mobile = section.settings.content_image_desktop %}
{% endif %}


{% assign light_text = section.settings.light_text %}

<div class="hero hero--our-water {% if light_text == true %}hero--light-text{% endif %}{% if bg_video == true %} hero--bg-video{% endif %}">

  <div class="container-fluid-max hero-container">
    <div class="row row--our-water">
      <div class="col-md-6">
        <div class="hero-image frame frame--4x3">
          {% include 'image_tag'
            image: content_image_desktop,
            object_fit: 'contain',
            image_class: 'd-md-block d-none'
          %}

          {% include 'image_tag'
            image: content_image_mobile,
            object_fit: 'contain',
            image_class: 'd-md-none d-block'
          %}

        </div>
      </div>

      <div class="col-md-6 text-left">
        {% if title != blank %}
          <h1 class="hero-title h2">{{ title | remove: '<p>'  | remove: '</p>' }}</h1>
        {% endif %}

        {% if copy_desktop != blank %}
          <div class="hero-copy hero-copy--desktop p1">{{ copy_desktop }}</div>
        {% endif %}


        {% if list != blank %}
          <div class="hero-list">{{ list }}</div>
        {% endif %}

        {% if cta_url != blank and cta_text != blank %}
          <div class="hero-cta-container">
            <a href="{{ cta_url }}" class="btn btn-primary">{{ cta_text }}</a>
          </div>
        {% endif %}
      </div>
    </div>

    
    {% if cover_image != blank %}
      <div class="hero-background d-none d-md-block">
        {% include 'image_tag'
          image: cover_image,
          object_fit: 'cover'
        %}
      </div>
    {% endif %}
  </div>
</div>


{% schema %}
  {
    "name": "Hero",
    "settings": [
      {
        "type": "header",
        "content": "Hero Content"
      },
      {
        "type": "richtext",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "textarea",
        "id": "copy_desktop",
        "label": "Text"
      },
      {
        "type": "richtext",
        "id": "list",
        "label": "List Items"
      },
      {
        "type": "checkbox",
        "id": "light_text",
        "label": "Light Text",
        "default": false
      },
      {
        "type": "text",
        "id": "cta_text",
        "label": "CTA Text"
      },
      {
        "type": "url",
        "id": "cta_url",
        "label": "CTA URL"
      },
      {
        "type": "image_picker",
        "id": "content_image_desktop",
        "label": "Image - Desktop"
      },
      {
        "type": "image_picker",
        "id": "content_image_mobile",
        "label": "Image - Mobile"
      },
      {
        "type": "image_picker",
        "id": "cover_image",
        "label": "Background Image"
      }
    ]
  }
{% endschema %}
